# MASUKKAN API KEY GEMINI DARI https://aistudio.google.com/
# Kode harus diawali dengan "AIza..."
# Isi di Vercel dengan nama: VITE_GEMINI_API_KEY
VITE_GEMINI_API_KEY=

# URL GOOGLE APPS SCRIPT DARI SPREADSHEET ANDA
# Pastikan sudah di-deploy sebagai Web App dengan akses "Anyone"
# Isi di Vercel dengan nama: VITE_APP_URL
VITE_APP_URL=

# CUSTOM ADMIN LOGIN (Opsional)
# Isi di Vercel untuk mengganti login default admin
VITE_ADMIN_USER=admin
VITE_ADMIN_PASS=admin123

VITE_SCHOOL_NAME="Armilla Nusa"
# Tambahkan API keys lain di bawah ini
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=