@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-bg: #f8fafc;
  --color-brand-sidebar: #0f172a;
  --color-brand-border: #e2e8f0;
  --color-brand-accent: #3b82f6;
  --color-brand-text-main: #1e293b;
  --color-brand-text-muted: #64748b;
}

@layer base {
  body {
    @apply bg-brand-bg text-brand-text-main font-sans antialiased;
  }
}

.m-markdown-container p { margin: 0; padding: 0; display: inline-block; }
